# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.db

# Node
node_modules/
dist/
package-lock.json

# System
.DS_Store

# Build Artifacts
backend/dist/
backend/build/
frontend/release/
*.spec
